.progressBar {
    width: 100%;
    top: 0;
    height: 4px;
    position: fixed;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: #bd1622;
    transition: width 200ms ease-in-out;
}

.hide {
    visibility: hidden;
}
